<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<nav>
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="/">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/circle.png">
                <div>LifeChain</div>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-connect-wallet-btn">Connect To MetaMask</div>
            <div class="navbar-search-icon">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/search.png">
                <div class="search-icon-title">Look Up</div>
            </div>
        </div>
    </div>
    <div class="error-container">
        <div class="error-title">Error</div>
        <div class="error-message">Oops! Can't find your flight, please check your flight information again.</div>
        <button class="error-btn">Close</button>
    </div>
</nav>