*{
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Noto Sans Telugu UI';
    font-size: 18px;
}
nav{
    margin: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}
.navbar-container{
    width: 1200px;
    height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.navbar-menu{
    font-weight: 700;
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.navbar-connect-wallet-btn{
    cursor: pointer;
}
.navbar-search-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.navbar-search-icon > img{
    width: 30px;
    height: 30px;
}
.navbar-search-icon > div{
    position: absolute;
    top: 45px;
    right: 95px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background-color: #888888;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    display: none;
}
.navbar-logo > a > img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.navbar-logo > a > div{
    color: #659157;
}
.navbar-menu > div{
    color: #757575;
    text-align: right;
}
.hide{
    display: none;
}

/* error-container */
.error-container{
    width: 340px;
    margin: auto;
    transform: translateY(40px);
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 15px solid #659157;
}
.error-message{
    width: 300px;
    margin: 10px 0px 10px 0px;
}
.error-title{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
.error-btn{
    width: 310px;
    height: 40px;
    background: #A1C084;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
}

/* error animation */
.show-animation{
    animation: 0.7s identifier;
}
@keyframes identifier {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0);}
}