<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    <main>
        <div class="banner-bg"></div>
        <div class="banner-container">
            <section class="banner-left-section">
                <div class="banner-info">
                    <div class="banner-info-title">Use Blockchain with Insurance</div>
                    <div class="banner-info-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas egesollicitudin amet malesuada nec tempor quis. Et mattis </div>
                    <button class="banner-info-btn">Insure Now</button>
                </div>
            </section>
            <section class="banner-right-section">
                <div class="banner-insurance">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas eget arcu, volutpat quisque adipiscing. </div>
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/insurance.jpg">
                </div>
            </section>
        </div>
    </main>
    <article>
        <section class="description-container">
            <div class="description-img">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/travel-1.jpg">
            </div>
            <div class="description-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas egesollicitudin amet malesuada nec tempor quis. Et mattis</div>
            <div class="description-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas</div>
        </section>
        <section class="description-container">
            <div class="description-title">Use Blockchain with Insurance</div>
            <form class="description-form">
                <input type="text" placeholder="Airline" required>
                <input type="text" placeholder="Flight Number" required>
                <input type="date" placeholder="Date of Departure" required>
                <button>Pay with wallet</button>
            </form>
        </section>
    </article>
    <footer>
        <div>© 2022 Hsin-I Chang</div>
        <a href="https://github.com/HsinI65018/LifeChain" class="footer-github">
            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/github.png">
        </a>
    </footer>
</body>
</html>