<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    <main>
        <div class="banner-bg"></div>
        <div class="banner-container">
            <section class="banner-left-section">
                <div class="banner-info">
                    <div class="banner-info-title">Use Blockchain with Insurance</div>
                    <div class="banner-info-subtitle">
                        <div>LifeChain helps you insured flights delay, we use blockchain to save your insurance details. </div>
                        <div>When the delay happened, you will get the insurance compensation automatically, and there is no need to provide your personal details, all you have to do is get the MetaMask account and insure !</div>
                    </div>
                    <button class="banner-info-btn">Insure Now</button>
                </div>
            </section>
            <section class="banner-right-section">
                <div class="banner-insurance">
                    <div>Make your travel without worries, save your time for making claims.</div>
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/insurance.jpg">
                </div>
            </section>
        </div>
    </main>
    <article>
        <section class="description-container">
            <div class="description-img">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/travel-1.jpg">
            </div>
            <div class="description-context">Please provide your flight information including <b>"airline"</b>, <b>"flight number"</b> and <b>"departure date"</b>. If your flight information exist, you will be redirect to MetaMask payment page. You can buy insurance up to two hours before departure.</div>
            <div class="description-context">Once the transaction completed, you can check the insure progress in look up page. (click the magnifying glass icon)</div>
        </section>
        <section class="description-container">
            <div class="description-title">Provide Your Flight Information</div>
            <form class="description-form">
                <input type="text" placeholder="Airline" class="airline" required>
                <input type="text" placeholder="Flight Number" class="flight-number" required>
                <input type="date" placeholder="Date of Departure" class="daparture-date" required>
                <button>Comfirm Payment</button>
            </form>
        </section>
    </article>
    <footer>
        <div>© 2022 Hsin-I Chang</div>
        <a href="https://github.com/HsinI65018/LifeChain" class="footer-github">
            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/LifeChain/github.png">
        </a>
    </footer>
</body>
</html>